* {
   margin: 0px;
   padding: 0px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 100%;
   text-decoration: none;
}


body{
   background-color: rgb(238, 233, 233);
}

header{
   margin: 10px 0px 10px 20px;
   height: 50px;
   background-size: cover;
}

header>figure{
   float: left;
}

nav{
   text-align: right;
   float: right;
   display: inline-block;
   margin: 10px 20px 0px 0px;
}

nav>a{
   padding: 5px;
   text-align: right;
   display: inline-block;
   color: rgb(51, 51, 50);
}

nav>a:hover{
   color: rgb(14, 13, 13);
}

.divulgacao{
   margin: 20px 0px 0px 0px;
   padding: 10px;
   background-color: rgb(26, 25, 25);
   color: rgb(238, 233, 233);
}


.divulgacao>article>p{
   margin: 10px 0px 20px 20px;
}

.divulgacao>article>a{
   margin: 0px 20px 0px 20px;
}

.imagens>figure{
   display: inline-block;
   width: 33%;
   margin: 20px 1px 40px 0px;
}

.funcao{
   background-color: rgb(26, 25, 25);
}

.funcao>article{
   display: inline-block;
   width: 15%;
   padding: 10px;
   margin: 20px 60px 40px 35px;
   color: rgb(238, 233, 233);
}



footer article {
   display: inline-block;
   width: 33%;
}
.soparabotao {
   display:flex;
   display: inline-block;
   height: 17px;
   width:60px
   margin: 8px;
}

.botao{
   background-color: rgb(238, 233, 233);
   color: rgb(26, 25, 25);
   padding: 2px;
   border-radius:8px ;
}

footer input{
   display:flex;
    display: inline-block; */
   height: 40px;
   width:500px
   margin: 8px;
   
}


footer>section>article {
   width:  33%;


}

footer{
   margin: 20px 0px 20px 30px;
}

footer>section>article{
   width: 30%;
   display: inline-block;
   margin: 0px 5px 10px 10px;
}

.email{
   text-align: center;
}

.email>input{
   border-radius: 5px ;
}