* {
   margin: 0px;
   padding: 0px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
   margin: 10px 0px 10px 20px;
   height: 50px;
   background-size: cover;
}

header>figure{
   float: left;
}

nav{
   text-align: right;
   float: right;
   display: inline-block;
   margin: 10px 20px 0px 0px;
}

nav>a{
   padding: 5px;
   text-align: right;
   display: inline-block;
}

.divulgacao{
   margin: 10px 0px 20px 20px;
   padding: 10px;
}


.imagens>figure{
   display: inline-block;
   width: 30%;
   padding: 10px;
   margin: 10px 0px 20px 0px;
}


.funcao{
   display: inline-block;
   width: 33%;
   padding: 10px;
   margin: 10px 0px 20px 0px;
}



footer article {
   display: inline-block;
   width: 33%;
}
.soparabotao {
   display:flex;
   display: inline-block;
   height: 17px;
   width:60px
   margin: 8px;
}

.botao{
   background-color: aqua;
   padding: 15px;
   border-radius:10px ;
  

   
}

footer input{
   display:flex;
   display: inline-block;
   height: 30px;
   width:70px
   margin: 8px;
   
}