* {
   margin: 0px;
   padding: 0px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 100%;
}


body{
   background-color: rgb(209, 207, 207);
}

header{
   margin: 10px 0px 10px 20px;
   height: 50px;
   background-size: cover;
}

header>figure{
   float: left;
}

nav{
   text-align: right;
   float: right;
   display: inline-block;
   margin: 10px 20px 0px 0px;
}

nav>a{
   padding: 5px;
   text-align: right;
   display: inline-block;
}

.divulgacao{
   margin: 20px 0px 0px 0px;
   padding: 10px;
}


.divulgacao>article>p{
   margin: 10px 0px 20px 20px;
}

.divulgacao>article>a{
   margin: 0px 20px 0px 20px;
}

.imagens>figure{
   display: inline-block;
   width: 30%;
   padding: 20px;
   margin: 10px 0px 20px 0px;
}


.funcao>article{
   display: inline-block;
   width: 40%;
   padding: 10px;
   margin: 20px 60px 40px 35px;
}



footer article {
   display: inline-block;
   width: 33%;
}
.soparabotao {
   display:flex;
   display: inline-block;
   height: 17px;
   width:60px
   margin: 8px;
}

.botao{
   background-color: aqua;
   padding: 15px;
   border-radius:10px ;
  

   
}

footer input{
   display:flex;
    display: inline-block; */
   height: 40px;
   width:500px
   margin: 8px;
   
}


footer>section {
   display: inline-block;


}


footer>section>article {
   width:  33%;


}

footer{

   margin: 10px 0px 10px 20px;
}

